/* Contenedor principal del formulario de olvido de contraseña */
.olvidar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
/* Estilo del formulario */
.olvidar-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  text-align: center;
}
/* Título del formulario */
.olvidar-title {
  font-family: "Brush-TipTerrence", cursive;
  color: #012c6a !important;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
/* Línea decorativa bajo el título */
.olvidar-Title-linea{
  width: 250px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}
/* Contenedor del input del correo electrónico */
.olvidar-input-wrapper {
  margin-bottom: 20px;
}

.olvidar-input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #666;
  margin-bottom: 25px;
}
/* Contenedor del input y el ícono */
.olvidar-input-container {
  position: relative;
  display: flex;
  align-items: center;
}
/* Ícono del input del correo electrónico */
.icon-olvidar {
  position: absolute;
  left: 10px;
  color: #f66226 !important;
  font-size: 25px !important;
  margin-bottom: 25px;
}
/* Estilo del input del correo electrónico */
.olvidar-input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 25px;
    /* Alineación del texto */
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}
/* Estilo del input cuando está enfocado */
.olvidar-input:focus {
  border-color: #ff6600 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
/* Contenedor de los botones */
.olvi-button{
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}
/* Estilo de los botones */
.olvidar-button {
  background-color: #002b69;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: 0.5s;
  color: white;
  width: 40%;

}
/* Estilo del botón al pasar el cursor por encima */
.olvidar-button:hover{
  background-color: #ff4500;
  transition: 0.5s;
}
/* Estilo del botón cuando está deshabilitado */
.olvidar-button:disabled {
  background-color: #b6b1af;
  cursor: not-allowed;
}
/* Estilo del mensaje de error */
.error-message {
  margin-top: 10px;
  color: red;
}

/* Media Queries para Responsividad */
/* Ajustes para pantallas menores a 1200px */
@media (max-width: 1200px) {
  .olvidar-form {
    padding: 15px;
  }

  .title {
    font-size: 22px;
  }

  .input-label {
    font-size: 13px;
  }
}
/* Ajustes para pantallas menores a 992px */
@media (max-width: 992px) {
  .olvidar-form {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .input-label {
    font-size: 12px;
  }
}
/* Ajustes para pantallas menores a 768px */
@media (max-width: 768px) {
  .olvidar-container {
    padding: 20px;
  }

  .olvidar-form {
    max-width: 90%;
  }

  .title {
    font-size: 18px;
  }

  .input-label {
    font-size: 12px;
  }
}
/* Ajustes para pantallas menores a 576px */
@media (max-width: 576px) {
  .olvidar-container {
    padding: 10px;
  }

  .olvidar-form {
    max-width: 100%;
  }

  .title {
    font-size: 16px;
  }

  .input-label {
    font-size: 11px;
  }

  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    position: relative;
    margin-bottom: 5px;
  }

  .olvidar-input[type="text"] {
    padding-left: 10px;
  }

  .olvidar-button {
    font-size: 14px;
    padding: 8px;
  }
}