.olvidar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f7f7f7;
}

.olvidar-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.olvidar-title {
  font-family: "Century Gothic", sans-serif;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 25px !important;
}

.olvidar-Title-linea {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

.olvidar-input-wrapper {
  margin-bottom: 20px;
}

.olvidar-input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.olvidar-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-olvidar {
  position: absolute;
  left: 10px;
  color: #888;
}

.olvidar-input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.olvi-button{
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}



.olvidar-button {
  background-color: #002b69;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: 2.5s;
  color: white;
  width: 40%;

}

.olvidar-button:hover{
  background-color: #ff4500;
  transition: 2.5s;
}

.olvidar-button:disabled {
  background-color: #b6b1af;
  cursor: not-allowed;
}

.error-message {
  margin-top: 10px;
  color: red;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .olvidar-form {
    padding: 15px;
  }

  .title {
    font-size: 22px;
  }

  .input-label {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .olvidar-form {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .input-label {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .olvidar-container {
    padding: 20px;
  }

  .olvidar-form {
    max-width: 90%;
  }

  .title {
    font-size: 18px;
  }

  .input-label {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .olvidar-container {
    padding: 10px;
  }

  .olvidar-form {
    max-width: 100%;
  }

  .title {
    font-size: 16px;
  }

  .input-label {
    font-size: 11px;
  }

  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    position: relative;
    margin-bottom: 5px;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .olvidar-button {
    font-size: 14px;
    padding: 8px;
  }
}