.olvidar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f7f7f7;
}

.olvidar-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.Title-linea {
  border: none;
  height: 1px;
  background-color: #eaeaea;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
  color: #888;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.olvidar-button {
  width: 100%;
  padding: 10px;
  background-color: #f66226;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.olvidar-button:disabled {
  background-color: #f66226;
  cursor: not-allowed;
}

.error-message {
  margin-top: 10px;
  color: red;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .olvidar-form {
    padding: 15px;
  }

  .title {
    font-size: 22px;
  }

  .input-label {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .olvidar-form {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .input-label {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .olvidar-container {
    padding: 20px;
  }

  .olvidar-form {
    max-width: 90%;
  }

  .title {
    font-size: 18px;
  }

  .input-label {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .olvidar-container {
    padding: 10px;
  }

  .olvidar-form {
    max-width: 100%;
  }

  .title {
    font-size: 16px;
  }

  .input-label {
    font-size: 11px;
  }

  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    position: relative;
    margin-bottom: 5px;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .olvidar-button {
    font-size: 14px;
    padding: 8px;
  }
}