/* Estilos generales */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Contenedor principal */
.dashAca-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  overflow: hidden;
  font-family: "Century Gothic", sans-serif;
}

/* Contenedor del gráfico y la tabla */
.content-container-Admin {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-container-dashAdmin {
  flex: 1 1 48%;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  min-width: 300px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

/* Contenedor del gráfico */
.chart-header {
  flex-shrink: 0;
  text-align: center;
}

.chart-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table-container-mat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tabla */
.DashAdmin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.DashAdmin-thead th {
  background-color: #002b69;
  color: white;
  padding: 10px;
  text-align: center;
}

.DashAdmin-tbody td {
  padding: 10px;
  border: 1px solid #ddd; /* Bordes internos de las celdas */
  text-align: center;
}

/* Botón */
.icon-btn-Dash {
  background: none;
  font-size: 1.8em;
  color: #ff6600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.dashAdmin-divider {
  width: 20%;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 0 auto; /* Reducir el margen inferior */
}

.icon-btn-Dash:hover {
  color: #012c6a;
  transition: 0.5s;
}



.chart-container-title {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  .content-container-Admin {
    flex-direction: column;
  }

  .table-container-dashAdmin {
    max-width: 100%;
  }

 
}

/* Filtros */
.filters-DashAdmin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 0; /* Reducir el margen inferior */
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-wrap: nowrap;
  background-color: #fff;
}

.filter-group-DashAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  flex: 1;
  min-width: 100px;
}

.filter-select-DashAdmin {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #002b69;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  color: #002b69;
}

.filter-select-DashAdmin::placeholder {
  color: #575656;
}

.filter-select-DashAdmin:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

/* Boton */
.butBuscar-DashAdmin {
  display: flex;
  align-items: center;
  margin-right: 30%;
}
.buscar-button-DashAdmin {
  padding: 10px 40px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  align-self: center;
  width: 100%;
}

.buscar-button-DashAdmin:hover {
  background-color: #f66226;
}

.buscar-button-DashAdmin:disabled {
  background-color: #777777;
  cursor: not-allowed;
}
/* Linea */
.DashAdmin-divider {
  width: 2px;
  height: 65px; /* Ajusta el alto según sea necesario */
  background: #ff6600;
  margin: auto 20px;
}

/* Boton Reporte */
.butGenerar-DashAdmin {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto; /* Reducir el margen inferior */
}
.Generar-button-DashAdmin {
  padding: 10px 40px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  align-self: center;
  width: 100%;
}

.Generar-button-DashAdmin:hover {
  background-color: #f66226;
}

.Generar-DashAdmin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 20px auto;
    border: 2px solid rgba(0, 44, 105, 0.212);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    background-color: #fff;
  }


  /* Media Queries */
@media (max-width: 1200px) {
    .filters-DashAdmin {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 10px;
    }
    .Reportes-DashAdmin {
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        padding: 10px;
      }
  
    .filter-select-DashAdmin {
      width: 80%;
    }
  
    .card-container-DashAdmin {
      width: 90%;
    }
  
    .card-DashAdmin {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .filters-DashAdmin {
      flex-direction: column;
      align-items: center;
    }
    .Reportes-DashAdmin {
        flex-direction: column;
        align-items: center;
      }
  
    .filter-group-DashAdmin{
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 95%;
    }
    .filter-select-DashAdmin {
      width: 100%;
    }
  
    .buscar-button-DashAdmin {
      margin: 10px 0;
      width: 50%;
    }
  
    .butBuscar-DashAdmin {
      margin-right: 0;
      width: 100%;
      font-size: 18px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .DashAdmin-divider {
      display: block; /* Asegúrate de que la línea sea visible */
      width: 65%;
      height: 2px;
      margin: 20px 0;
    }
  }
  
  @media (max-width: 480px) {
  
    .filters-DashAdmin {
      flex-direction: column;
      gap: 15px;
      width: 100%;
      padding: 10px;
    }
    .Reportes-DashAdmin {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 10px;
      }
    .filter-group-DashAdmin{
      width: 100%;
      padding: 10px;
    }
  
    .filter-select-DashAdmin {
      width: 100%;
      font-size: 18px;
    }
  
    .buscar-button-DashAdmin {
      margin: 10px 0;
      width: 50%;
    }
  
    .butBuscar-DashAdmin {
      margin-right: 0;
      width: 100%;
      font-size: 18px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .pagination-DashAdmin button {
      padding: 5px 10px;
    }
    .pagination-DashAdmin span {
      padding: 5px 10px;
    }
  
    .DashAdmin-divider {
      display: block; /* Asegúrate de que la línea sea visible */
      width: 65%;
      height: 2px;
      margin: 20px 0;
    }
  }

  /* Contenedor del Titulo de reportes */
.Reportes-header {
    flex-shrink: 0;
    text-align: center;
  }

  .Reportes-DashAdmin {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar contenido horizontalmente */
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto 0 auto; /* Reducir el margen inferior */
    border: 2px solid rgba(0, 44, 105, 0.212);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    background-color: #fff;
  }

  .Reportes-container-title {
    font-family: 'Playfair Display', serif;
    color: #012c6a;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
