.dashAca-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 0px; /* Eliminar el espacio entre los contenedores hijos */
}

.carousel-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 44, 105, 0.212);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Asegurar que no haya margen horizontal */
    height: auto;
    flex-grow: 1; /* Hacer que el contenedor ocupe todo el espacio vertical disponible */
}

.chart-slide-Aca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; /* Ancho máximo 90% del contenedor */
    max-width: 800px;
    height: calc(90vh - 140px); /* Ajustar la altura del slide */
}

.chart-title-divider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chart-container-Aca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; /* Reducir el ancho del contenedor del gráfico */
    height: 60%; /* Reducir el alto del contenedor del gráfico */
    flex-grow: 1; /* Hacer que el gráfico ocupe el espacio disponible */
}

.chart-container-Aca canvas {
    max-width: 100%; /* Asegurar que el canvas se ajuste dentro del contenedor */
    max-height: 100%;
}

/* Estilo general */
.chart-container-title {
    font-family: "Brush-TipTerrence", cursive;
    color: #012c6a;
    font-size: 1.4rem; /* Tamaño de fuente base */
    text-align: center;
    max-width: 90%; /* Asegurar que el título no se desborde del contenedor */
    margin-top: 10px;
}

.dashAcademico-divider {
    width: 20%;
    height: 3px;
    background: #ff6600;
    margin: 0 auto 0 auto; /* Reducir el margen inferior */
}

.dashboard-container {
    font-family: "Brush-TipTerrence", cursive;
    color: #012c6a;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.carousel .slide {
    background: none; /* Remover cualquier fondo predeterminado */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; /* Ancho máximo 90% del contenedor */
    max-width: 800px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .carousel-container-wrapper {
        height: auto; /* Alto automático en responsividad */
    }

    .chart-slide-Aca {
        height: 350px; /* Ajuste de la altura del slide para vistas pequeñas */
    }

    .chart-container-Aca {
        height: 50%; /* Reducir altura del gráfico para dar más espacio al título */
    }

    .chart-container-title {
        font-size: 4vw; /* Ajustar tamaño de fuente basado en el ancho de la ventana */
    }

    .carousel .slide {
        height: auto; /* Ajuste de alto en vista responsiva */
        padding: 10px; /* Reducir padding en vistas pequeñas */
    }
}

@media (max-width: 480px) {
    .carousel-container-wrapper {
        height: auto; /* Alto automático en responsividad */
    }

    .chart-slide-Aca {
        height: 300px; /* Ajuste de la altura del slide para vistas más pequeñas */
    }

    .chart-container-Aca {
        height: 40%; /* Reducir más la altura del gráfico para dar más espacio al título */
    }

    .chart-container-title {
        font-size: 5vw; /* Ajustar tamaño de fuente basado en el ancho de la ventana */
    }

    .carousel .slide {
        height: auto; /* Ajuste de alto en vista responsiva */
        padding: 10px; /* Reducir padding en vistas pequeñas */
    }
}
