.footer {
  width: 100%;
  text-align: center;
  background-color: #002B5C;
  position: relative; /* Cambiado de fixed a relative */
  color: rgb(255, 255, 255);
  margin-top: auto;
 
}

.p {
  margin: 0;
}