.navbar {
  display: flex;
  justify-content: left;
  align-items: center;

  background: linear-gradient(90deg, #002c6b, #002b69, #002b69, #81a1ad); /* Add gradient */
  border-bottom: 4.5px solid #6fbadf;
  color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 55px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
}



.navbar-links li:hover a {
  color: #6fbadf;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}



.navbar-user {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
}

/* Style for the user icon */
.user-icon {
  color: #f66226;
  font-size: 24px; /* Adjust the icon size as needed */
}

/* Responsive */
.navbar-toggle {
  display: none; /* Initially hidden on large screens */
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #002c6b, #002b69, #002b69, #81a1ad);
    z-index: 10; /* Ensure the menu appears above other elements */
  }

  .navbar-links.active {
    display: flex;
  }



  .navbar-toggle {
    display: block; /* Show the menu icon (hamburger) */
    cursor: pointer;
    color: white;
  }
}
