/* Main container */
.sociocomunitario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px auto;
  gap: 20px;
}

/* Sidebar */
.sociocomu-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Add button */
.action-sociocomu {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.add-sociocomu {
  display: flex;
  align-items: center;
  color: #002b69;
  font-size: 25px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-socio {
  margin-left: 10px;
  font-size: 30px;
}

/* Divider */
.socio-divider {
  width: 2px;
  height: 50px;
  background: #ff6600;
  margin: auto 20px;
}

.socios-divider {
  width: 175px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

/* Title */
.sociocomu-titulo {
  font-family: "Brush-TipTerrence", cursive;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2.5rem;
  margin-left: 135px;
}

/* Filters */
.filters-sociocomu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 20px;
  gap: 10px; /* Añadido para separación entre filtros */
}

.filter-group-sociocomu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 180px; /* Ancho mínimo para mantener consistencia */
}

.filter-label-sociocomu {
  font-size: 18px;
  color: #002b69;
  margin-bottom: 5px;
}

.filter-input-sociocomu,
.filter-select-sociocomu {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #002b69;
  border-radius: 25px;
  text-align: center;
  color: #002b69;
  width: 100%;
}

.filter-input-sociocomu::placeholder,
.filter-select-sociocomu::placeholder {
  color: #575656;
}

.filter-input-sociocomu:focus,
.filter-select-sociocomu:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

/* Solicitud Section */
.solicitud-section {
  width: 80%;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.solicitud-title {
  font-family: "Brush-TipTerrence", cursive;
  font-size: 1.8rem;
  color: #012c6a;
  text-align: center;
  margin: 15px auto 20px auto;
}

/* Table */
.table-container-socioc {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-socioc {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.thead-socioc th {
  background-color: #002b69;
  color: white;
  padding: 10px;
  text-align: center;
}

.tbody-socioc td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.icon-btn--sociocomu {
  color: #ff6600;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.5s;
}

.icon-btn--sociocomu:hover {
  color: #002b69;
  transition: 0.5s;
}

/* Pagination */
.pagination-sociocomu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-sociocomu button {
  background-color: #002b69;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.pagination-sociocomu span {
  font-size: 1rem;
  margin: 0 10px;
  color: #002b69;
}

/* Media Queries */

/* Tablets and small desktops */
@media (max-width: 1024px) {
  .sociocomu-sidebar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .action-sociocomu {
    margin-left: 0;
  }

  .sociocomu-titulo {
    margin-left: 0;
    font-size: 2rem;
  }

  .filters-sociocomu {
    padding: 10px;
    flex-direction: column;
  }

  .filter-group-sociocomu {
    width: 100%; /* Full width for each filter group */
    margin: 10px 0;
  }

  .solicitud-section {
    width: 100%;
  }

  .table-container-socioc {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }
}

/* Mobile phones */
@media (max-width: 768px) {
  .sociocomu-titulo {
    font-size: 1.8rem;
  }

  .filters-sociocomu {
    padding: 5px;
  }

  .filter-input-sociocomu,
  .filter-select-sociocomu {
    padding: 5px 10px;
    font-size: 14px;
  }

  .solicitud-title {
    font-size: 1.5rem;
  }

  .pagination-sociocomu button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .pagination-sociocomu span {
    font-size: 0.9rem;
  }

  .table-container-socioc {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .table-socioc {
    width: 100%;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }
}

/* Small mobile phones */
@media (max-width: 480px) {
  .sociocomunitario-container {
    padding: 10px;
  }

  .sociocomu-sidebar {
    width: 100%;
  }

  .add-sociocomu {
    font-size: 1.2rem;
  }

  .icon-socio {
    font-size: 1.5rem;
  }

  .sociocomu-titulo {
    font-size: 1.5rem;
  }

  .socio-divider {
    height: 30px;
  }

  .filters-sociocomu {
    padding: 0;
    flex-direction: column; /* Column layout for filters */
  }

  .filter-group-sociocomu {
    width: 80%;
    margin: 5px 0;
  }

  .solicitud-title {
    font-size: 1.2rem;
  }

  .solicitud-section {
    width: 100%;
    padding: 10px;
  }

  .table-container-socioc {
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .table-socioc {
    width: 100%;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }

  .pagination-sociocomu button {
    padding: 3px 7px;
    font-size: 0.8rem;
  }

  .pagination-sociocomu span {
    font-size: 0.8rem;
  }
}


/*Boton como link*/
.btn-link-carta {
  background: none;
  border: none;
  color: blue; /* Usualmente el color de los enlaces es azul */
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit; /* Hereda las propiedades de fuente del padre */
}


/* Estilo del menú desplegable */
.dropdown-menu-custom {
  min-width: 160px; /* Ajusta según sea necesario */
}

.dropdown-item-custom {
  display: flex;
  align-items: center;
}

.dropdown-item-custom .fa-map-marked-alt,
.dropdown-item-custom .fa-waze {
  margin-right: 8px;
}

