/* Contenedor principal */
.sociocomunitario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px auto;
  gap: 20px;
  font-family: "Century Gothic", sans-serif;
}

/* Barra lateral */
.sociocomu-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-wrap: wrap;
}

/* Botón de agregar */
.action-sociocomu {
  display: flex;
  align-items: center;
  margin-left: 15%;
  flex-wrap: wrap;
}

.add-sociocomu {
  display: flex;
  align-items: center;
  color: #002b69;
  font-size: 25px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-socio {
  margin-left: 10px;
  font-size: 30px;
}

/* Botón de descarga */
.descagarReport-Socios {
  background-color: #002b69;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  margin-left: auto;
}
.descagarReport-Socios:hover {
  background-color: #f66226;
}

/* Separador */
.socio-divider {
  width: 2px;
  height: 50px;
  background: #ff6600;
  margin: auto 20px;
}

.socios-divider {
  width: 175px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

/* Título */
.sociocomu-titulo {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2.5rem;
  margin: 0 10px 0 25px;
  text-align: center;
}

/* Filtros */
.filters-sociocomu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 20px;
  gap: 10px; /* Añadido para espacio entre filtros */
}

.filter-group-sociocomu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 180px; /* Ancho mínimo para consistencia */
}

.filter-label-sociocomu {
  font-size: 18px;
  color: #002b69;
  margin-bottom: 5px;
}

.filter-input-sociocomu,
.filter-select-sociocomu {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #002b69;
  border-radius: 25px;
  text-align: center;
  color: #002b69;
  width: 100%;
}

.filter-input-sociocomu::placeholder,
.filter-select-sociocomu::placeholder {
  color: #575656;
}

.filter-input-sociocomu:focus,
.filter-select-sociocomu:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

/* Sección de solicitud */
.solicitud-section {
  width: 80%;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.solicitud-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #012c6a;
  text-align: center;
  margin: 15px auto 20px auto;
}

/* Tabla */
.table-container-socioc {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
}

.table-socioc {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.thead-socioc th {
  background-color: #002b69;
  color: white;
  padding: 10px;
  text-align: center;
}

.tbody-socioc td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.icon-btn--sociocomu {
  color: #ff6600;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.5s;
}

.icon-btn--sociocomu:hover {
  color: #002b69;
  transition: 0.5s;
}

/* Paginación */
.pagination-sociocomu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-sociocomu button {
  background-color: #002b69;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.pagination-sociocomu button:hover {
  background-color: #ff6600;
}

.pagination-sociocomu button:disabled {
  background-color: #777777;
  cursor: not-allowed;
}

.pagination-sociocomu span {
  font-size: 1rem;
  margin: 0 10px;
  color: #002b69;
}

/* Botón estilizado como enlace */
.btn-link-carta {
  background: none;
  border: none;
  color: blue; /* Los enlaces suelen ser azules */
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit; /* Heredar propiedades de la fuente del elemento padre */
}

/* Menú desplegable personalizado */
.dropdown-menu-custom {
  min-width: auto; /* Eliminar ancho mínimo para ajustar contenido */
}

.dropdown-item-custom {
  display: flex;
  align-items: center;
  padding: 8px; /* Ajustar padding según sea necesario */
  width: auto; /* Ajustar ancho basado en contenido */
}

.dropdown-item-custom .fa-map-marked-alt,
.dropdown-item-custom .fa-waze {
  font-size: 30px !important; /* Aumentar tamaño de íconos */
  margin-right: 8px; /* Espacio entre ícono y borde */
}

/* Consultas de medios */

/* Tablets y escritorios pequeños */
@media (max-width: 1024px) {
  .sociocomu-sidebar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .action-sociocomu {
    margin-left: 0;
    width: 100%;
  }

  .sociocomu-titulo {
    margin-left: 0;
    font-size: 2rem;
  }

  .filters-sociocomu {
    padding: 10px;
    flex-direction: column;
  }

  .filter-group-sociocomu {
    width: 100%; /* Ancho completo para cada grupo de filtros */
    margin: 10px 0;
  }

  .solicitud-section,
  .sociocomu-sidebar {
    width: 95%;
  }

  .table-container-socioc {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }
}

/* Teléfonos móviles */
@media (max-width: 768px) {
  .sociocomu-sidebar {
    flex-direction: column;
    align-items: center;
  }

  .sociocomu-titulo {
    font-size: 1.8rem;
    margin-left: 0;
  }

  .action-sociocomu {
    margin-left: 0;
    margin: 0 auto 15px auto;
    flex-direction: column;
  }

  .filters-sociocomu {
    padding: 5px;
  }

  .filter-input-sociocomu,
  .filter-select-sociocomu {
    padding: 5px 10px;
    font-size: 14px;
  }

  .solicitud-title {
    font-size: 1.8rem;
  }

  .pagination-sociocomu button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .pagination-sociocomu span {
    font-size: 0.8rem;
  }

  .table-container-socioc {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .table-socioc {
    width: 100%;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }

  .socio-divider {
    width: 60%;
    height: 2px;
    margin: 10px auto;
  }
}

/* Teléfonos móviles pequeños */
@media (max-width: 480px) {
  .sociocomunitario-container {
    padding: 10px;
  }

  .sociocomu-sidebar {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .add-sociocomu {
    font-size: 1.2rem;
    padding: 5px 10px;
  }

  .icon-socio {
    font-size: 1.5rem;
  }

  .sociocomu-titulo {
    font-size: 2.2rem;
  }

  .socio-divider {
    width: 45%;
    height: 2px;
    margin: 20px 0;
    display: block;
  }

  .filters-sociocomu {
    padding: 0;
    flex-direction: column;
  }

  .filter-group-sociocomu {
    width: 80%;
    margin: 5px 0;
  }

  .solicitud-title {
    font-size: 1.8rem;
  }

  .solicitud-section {
    width: 100%;
    padding: 10px;
  }

  .table-container-socioc {
    padding: 5px;
    overflow-x: auto;
    display: block;
  }

  .table-socioc {
    width: 100%;
  }

  .thead-socioc th,
  .tbody-socioc td {
    padding: 5px;
  }

  .pagination-sociocomu button {
    padding: 3px 7px;
    font-size: 0.8rem;
  }

  .pagination-sociocomu span {
    font-size: 0.8rem;
  }
}

/* Orientación horizontal para teléfonos móviles */
@media (max-width: 480px) and (orientation: landscape) {
  .sociocomu-titulo {
    font-size: 1.5rem;
  }

  .add-sociocomu {
    font-size: 1rem;
  }

  .icon-socio {
    font-size: 1.2rem;
  }

  .descagarReport-Socios {
    font-size: 0.9rem;
  }

  .socio-divider {
    height: 1px;
  }
}
