.home-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px);
  grid-gap: 20px;
  padding: 20px;
  min-height: 80vh;
  overflow: auto;
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f66226;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-content {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%;
}

.home-texto {
  color: #012c6a;
  margin-bottom: 20px;
  max-width: 600px;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
}
.home-title {
  font-family: "Brush-TipTerrence", cursive;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2rem;
}

.title-divider {
  border: 2px solid #f66226;
  width: 50%;
  margin-bottom: 20px;
}

.login-form {
  padding: 20px;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace) 1;
  animation: gradient-border-animation 5s infinite;
  width: 100%;
  padding: 40px;
}

@keyframes gradient-border-animation {
  0% {
    border-image-source: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace);
  }
  50% {
    border-image-source: linear-gradient(45deg, #0daace, #012c6a, #0daace, #012c6a);
  }
  100% {
    border-image-source: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace);
  }
}

.login-divider {
  border: 1px solid #f66226;
  width: 50%;
  margin-bottom: 20px;
}

.login-title {
  font-family: "Brush-TipTerrence", cursive;
  color: #002b69;
  margin-bottom: 20px;
  text-align: center;
}

.input-container-login {
  position: relative !important;
  margin-bottom: 20px !important;
  width: 100% !important;
}

.icon-login {
  position: absolute !important;
  left: 10px !important;
  top: 10px !important;
  color: #f66226 !important;
  font-size: 24px !important;
  z-index: 1000;
}

.icon2-login{
  position: absolute !important;
  right: 10px !important;
  top: 1px !important;
  color: #f66226 !important;
  font-size: 24px !important;
  cursor: pointer;
}

.login-input[type="password"],
.login-input[type="text"] {
  width: 100% !important;
  padding: 10px 35px 10px 35px !important;
  border: 1px solid #ccc !important;
  border-radius: 20px !important;
  font-family: "Century Gothic", sans-serif !important;
  margin: 0 auto !important;
  position: relative !important;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0daace;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Century Gothic", sans-serif;
  margin-top: 10px;
  transition: 2s;
}

.login-button:hover {
  background-color: #ff4500;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  transition: 2s;
}

.forgot-password {
  font-family: "Century Gothic", sans-serif;
  text-decoration: none;
  color: #012c6a;
  text-align: right;
  margin-top: 10px;
  transition: 0.5s;
}

.forgot-password:hover {
  color: #ff4500;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
  text-decoration: underline;
  animation: gradient-text-animation 5s ease-in-out infinite alternate;
}

@keyframes gradient-text-animation {
  0% {
    background-image: linear-gradient(to right, #ff8c00, #ff4500);
  }
  50% {
    background-image: linear-gradient(to right, #ff4500, #ff8c00);
  }
  100% {
    background-image: linear-gradient(to right, #ff8c00, #ff4500);
  }
}

.error-message-login {
  color: red;
  text-align: center;
  margin-top: 10px;
}

iframe {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr minmax(auto, auto);
  }

  .home-content {
    display: none;
  }
}










/* Completar Perfil - Genero */

.perfil-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 20rem 0 23rem 0;
}

.perfil-content{
  background-color: #fff;
  border: 1px solid #012c6a;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35%;
}
.perfil-dropdown {
  width: 85%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 9px;
  font-size: 16px;
  color: #2b3945;
}
.perfil-button{
  width: 47%;
  padding: 10px;
  background-color: #002b69;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Century Gothic", sans-serif;
  margin-top: 10px;
  margin-left:2.5px;
  margin-right:2.5px;
  transition: 0.5s;
}
.perfil-button:hover {
  background-color: #ff4500;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  transition: 0.5s;
}

.perfil-input-container{
  margin: 20px 0;
}

.perfil-divider{
  width: 50%;
  border: 1px solid #f66226;
  margin-left: 65px;
  margin: 10px auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .perfil-content {
    width: 35%;
  }
}

@media (max-width: 992px) {
  .perfil-content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .perfil-content {
    width: 70%;
  }

  .perfil-dropdown {
    width: 90%;
  }

  .perfil-button {
    width: 60%;
  }

  .perfil-divider {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .perfil-content {
    width: 90%;
  }

  .perfil-dropdown {
    width: 95%;
  }

  .perfil-button {
    width: 70%;
  }

  .perfil-divider {
    width: 70%;
  }

}





