.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: #FAFAFA;
  height: 80vh;
  overflow: auto;
}

.home-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 75px;
}

.home-texto {
  color: #012C6A;
  margin-bottom: 10px;
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
}

h1.home-title {
  font-family: 'Brush-TipTerrence', cursive; /* Title font */
  color: #012C6A; /* Title color */
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.title-divider {
  border: 1px solid #F66226; /* Divider color */
  width: 50%;
  margin-bottom: 20px;
}

.login-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 75px;
}

.login-divider {
  border: 1px solid #F66226; /* Divider color */
  width: 50%;
  margin-bottom: 20px;
}

h2.login-title {
  font-family: 'Brush-TipTerrence', cursive; /* Title font */
  color: #002b69; /* Title color */
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: -15px; /* Posicionar el icono a 10px de la izquierda del campo de texto */
  top: 10px;
  color: #F66226;
  font-size: 24px;
}

.icon2 {
  position: absolute;
  right: -10px; /* Posicionar el icono a 10px de la izquierda del campo de texto */
  top: 10px;
  color: #F66226;
  font-size: 24px;
}


input[type="text"],
input[type="password"] {
  width: calc(100% - 40px);
  max-width: 300px;
  padding: 10px 35px 10px 10px; /* Ajustar el padding para mayor espacio a la derecha */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Century Gothic', sans-serif;
  margin: 0 auto;
  position: relative;
}

button.login-button {
  width: 45%;
  max-width: 3000px; /* Max width to match the inputs */
  padding: 10px;
  background-color: #0DAACE; /* Background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-family: 'Century Gothic', sans-serif; /* Button font */
  margin: 0 auto; /* Center the button */
}

button.login-button:hover {
  background-color: #e55620; /* Darker shade for hover effect */
}

.forgot-password {
  font-family: 'Century Gothic', sans-serif; /* Font */
  text-decoration: none;
  color: #012C6A; /* Link color */
  text-align: right;
  margin-top: 10px
}



.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}



@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}
