.home-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px); /* Adjust the second column to a fixed max width */
  grid-gap: 20px;
  padding: 20px;

  height: 80vh;
  overflow: auto;
}

.home-content {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 100%; /* Ensure it takes up the remaining space */
}

.home-texto {
  color: #012c6a;
  margin-bottom: 20px;
  max-width: 600px;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
}

h1.home-title {
  font-family: "Brush-TipTerrence", cursive; /* Title font */
  color: #012c6a; /* Title color */
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.title-divider {
  border: 2px solid #f66226; /* Divider color */
  width: 50%;
  margin-bottom: 20px;
}

.login-form {
  padding: 20px;
  border-radius: 20px !important; /* Rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid transparent; /* Placeholder for gradient border */
  border-image: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace) 1; /* Initial gradient border */
  animation: gradient-border-animation 5s infinite; /* Animation for gradient border */
  width: 100%;
  padding: 40px; /* Adjust padding for better spacing */
}

@keyframes gradient-border-animation {
  0% {
    border-image-source: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace);
  }
  50% {
    border-image-source: linear-gradient(45deg, #0daace, #012c6a, #0daace, #012c6a);
  }
  100% {
    border-image-source: linear-gradient(45deg, #012c6a, #0daace, #012c6a, #0daace);
  }
}

.login-divider {
  border: 2px solid #f66226; /* Divider color */
  width: 50%;
  margin-bottom: 20px;
}

h2.login-title {
  font-family: "Brush-TipTerrence", cursive; /* Title font */
  color: #002b69; /* Title color */
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.icon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f66226;
  font-size: 24px;
}

.icon2 {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #f66226;
  font-size: 24px;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 35px 10px 35px; /* Adjust padding for more space */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: "Century Gothic", sans-serif;
  margin: 0 auto;
  position: relative;
}

button.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0daace; /* Background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-family: "Century Gothic", sans-serif; /* Button font */
  margin-top: 10px;
  transition: 2s;

}

button.login-button:hover {
  background-color: #ff4500; /* Color base más oscuro para el efecto hover */
  background-image: linear-gradient(to right, #ff8c00, #ff4500); /* Gradiente de color */
  transition: 2s;
}

.forgot-password {
  font-family: "Century Gothic", sans-serif; /* Font */
  text-decoration: none;
  color: #012c6a; /* Link color */
  text-align: right;
  margin-top: 10px;
  transition: 0.5s;
}

.forgot-password:hover {
  color: #ff4500; /* Color base más oscuro para el efecto hover */
  background-image: linear-gradient(to right, #ff8c00, #ff4500); /* Gradiente de color */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para que se vea el gradiente */
  transition: 0.5s;
  text-decoration: underline;
  animation: gradient-text-animation 5s ease-in-out infinite alternate; /* Animación del gradiente */
}

@keyframes gradient-text-animation {
  0% {
    background-image: linear-gradient(to right, #ff8c00, #ff4500);
  }
  50% {
    background-image: linear-gradient(to right, #ff4500, #ff8c00);
  }
  100% {
    background-image: linear-gradient(to right, #ff8c00, #ff4500);
  }
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

iframe {
  max-width: 100%;
  height: 100%;
  border-radius: 10px; /* Ajusta este valor según lo redondeado que desees que sean los bordes */
}


@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr minmax(auto, auto); /* Adjust the second column to a fixed max width */
  }

  .home-content {
    display: none; /* Hide the first container on mobile devices */
  }
}
