/* Loading Overlay */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f66226;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Titles */
.creconclusiones-title {
  font-family: "Brush-TipTerrence", cursive;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.creconclusiones-divider {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

/*Registrar conclusiones */
.creconclusiones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  min-height: 100vh; 
  padding-top: 65vh;
  padding-bottom: 65vh;
}
.creconclusiones-content {
  background-color: #fff;
  border: 2px solid #012c6a;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
}

.creconclusiones-input-container {
  margin: 20px 0;
}

.creconclusiones-input-time,
.creconclusiones-textarea,
.creconclusiones-input-date,
.creconclusiones-dropdown {
  width: 90%;
  padding: 10px;
  border: 2px solid #002b69 !important;
  border-radius: 25px !important;
  font-size: 16px;
  color: #2b3945;
}

.creconclusiones-input-time:focus,
.creconclusiones-input-date:focus,
.creconclusiones-textarea:focus,
.creconclusiones-file:focus,
.creconclusiones-dropdown:focus {
  border-color: #ff6600 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

.creconclusiones-dropdown {
  width: 85%;
  border: 2px solid #002b69 !important;
  border-radius: 25px !important;
  align-items: center;
}

.creconclusiones-textarea {
  resize: auto;
  height: 100px;
}

/* Evidencias */
.custom-file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
}

.creconclusiones-file {
  align-items: center;
  width: 85%;
  border: 2px solid #002b69 !important;
  border-radius: 25px !important;
  padding: 10px;
  font-size: 16px;
  position: relative;
}

.creconclusiones-file input[type="file"] {
  display: none;
}

.creconclusiones-file label {
  background-color: #002b69;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
}

.creconclusiones-file label:hover {
  background-color: #ff4500;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  transition: 0.3s;
}

.creconclusiones-file span {
  margin-left: 10px;
  vertical-align: middle;
}

/* Boton */
.creconclusiones-button {
  width: 40%;
  padding: 10px;
  background-color: #002b69 !important;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Century Gothic", sans-serif;
  margin-top: 10px;
  transition: 0.3s;
}

.creconclusiones-button:hover {
  background-color: #ff4500;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  transition: 0.3s;
}

/* Añadir estilos para el botón deshabilitado */
.creconclusiones-button:disabled {
  background-color: #999999 !important;
  cursor: not-allowed;
  transition: none;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Boton de regresar */
.back-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.back-button:hover {
  background-color: #f66226;
  transition: 0.3s;
}

/* Textarea */
.creconclusiones-textarea,
.creconclusiones-input-date,
.creconclusiones-input-time {
  width: 85%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  font-size: 16px;
  color: #2b3945;
  font-family: "Century Gothic", sans-serif;
  margin: 0 auto;
  display: block;
}

.creconclusiones-textarea {
  resize: vertical;
  height: auto;
  border-radius: 20px;
}

.react-time-picker__wrapper {
  border: none !important;
}

/* Inputs Time and Date */
.creconclusiones-input-date,
.creconclusiones-input-time {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.creconclusiones-input-date::-webkit-inner-spin-button,
.creconclusiones-input-time::-webkit-inner-spin-button {
  display: none;
}

.creconclusiones-input-date::-webkit-calendar-picker-indicator,
.creconclusiones-input-time::-webkit-calendar-picker-indicator {
  color: #2b3945;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .creconclusiones-content {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .creconclusiones-content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .creconclusiones-content {
    width: 70%;
  }

  .creconclusiones-input,
  .creconclusiones-textarea,
  .creconclusiones-file,
  .creconclusiones-dropdown,
  .creconclusiones-button {
    width: 90%;
  }

  .creconclusiones-divider {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .creconclusiones-content {
    width: 90%;
  }

  .creconclusiones-input,
  .creconclusiones-textarea,
  .creconclusiones-file,
  .creconclusiones-dropdown,
  .creconclusiones-button {
    width: 90%;
  }

  .creconclusiones-divider {
    width: 70%;
  }
}
