/* Carga */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f66226;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contiene todo */
.grupClu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
  color: #002b69;
  font-family: "Century Gothic", sans-serif;
}

/* Filtros */
.filters-grupClu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  border: 2px solid rgba(0, 44, 105, 0.212); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-wrap: nowrap;
  background-color: #fff;
}

.filter-group-grupClu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  flex: 1;
  min-width: 100px; 
}

.filter-select-grupClu {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #002b69;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  color: #002b69;
}

.filter-select-grupClu::placeholder{
  color: #575656;
}

.filter-select-grupClu:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.filter-label-grupClu{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}
/* Boton */
.butBuscar-grupClu{
  display: flex;
  align-items: center;
  margin-right: 30%;
}
.buscar-button-grupClu {
  padding: 10px 40px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
margin-top: 20px;
  align-self: center; 
  width: 100%;
}

.buscar-button-grupClu:hover {
  background-color: #f66226;
}

.buscar-button-grupClu:disabled {
  background-color: #777777;
  cursor: not-allowed;
}
/* Linea */
.grupClu-divider {
  width: 2px;
  height: 65px; /* Ajusta el alto según sea necesario */
  background: #ff6600;
  margin: auto 20px;
}

/* Cards */
.card-container-grupClu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px auto;
  width: 80%;
  padding: 15px;
  border: 2px solid rgba(0, 44, 105, 0.212); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.card-grupClu {
  background-color: white;
  border: 1px solid rgba(0, 44, 105, 0.212);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header-grupClu {
  font-weight: bold;
  font-size: 1.1em;
  color: #002b69;
  text-align: left;
  border-bottom: 2px solid #ff6600 !important;
  background-color: white !important;
  font-family: 'Playfair Display', serif;
}

.card-title-grupClu {
  font-weight: bold;
  font-size: 1.1em;
  color: #002b69;
  margin-top: 5px; 
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
}
.card-title-grupClu::first-letter {
  text-transform: capitalize;
} 

.card-content-grupClu {
  flex-grow: 1;
}

.card-content-grupClu p {
  margin: 5px 0;
  font-size: 0.95em;
  color: #575656;
  text-align: left;
}

.card-footer-grupClu {
  background-color: white !important;
  text-align: center;
  border-top: none !important;
}

.card-footer-grupClu p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6600;
}

.btn-view-group-grupClu {
  background-color: #002b69;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-view-group-grupClu:hover {
  background-color: #f66226;
}

.no-groups-message {
  text-align: center;
  font-size: 1.2em;
  color: #002b69;
  margin: 20px;
}

/* Paginación */
.pagination-grupClu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-grupClu button {
  background-color: #002b69;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.3s;
}

.pagination-grupClu button:hover {
  background-color: #f66226;
}

.pagination-grupClu span {
  font-size: 1em;
  color: #002b69;
}
/* Media Queries */
@media (max-width: 1200px) {
  .filters-grupClu {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding: 10px;
  }

  .filter-select-grupClu {
    width: 80%;
  }

  .card-container-grupClu {
    width: 90%;
  }

  .card-grupClu {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .filters-grupClu {
    flex-direction: column;
    align-items: center;
  }

  .filter-group-grupClu{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
  }
  .filter-select-grupClu {
    width: 100%;
  }

  .card-grupClu {
    width: 95%;
  }

  .buscar-button-grupClu {
    margin: 10px 0;
    width: 50%;
  }

  .butBuscar-grupClu {
    margin-right: 0;
    width: 100%;
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .grupClu-divider {
    display: block; /* Asegúrate de que la línea sea visible */
    width: 65%;
    height: 2px;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {

  .filters-grupClu {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px;
  }
  .filter-group-grupClu{
    width: 100%;
    padding: 10px;
  }

  .filter-select-grupClu {
    width: 100%;
    font-size: 18px;
  }

  .buscar-button-grupClu {
    margin: 10px 0;
    width: 50%;
  }

  .butBuscar-grupClu {
    margin-right: 0;
    width: 100%;
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
.card-container-grupClu {
  width: 100%;
}
  .card-grupClu {
    width: 100%;
  }

  .pagination-grupClu button {
    padding: 5px 10px;
  }
  .pagination-grupClu span {
    padding: 5px 10px;
  }

  .grupClu-divider {
    display: block; /* Asegúrate de que la línea sea visible */
    width: 65%;
    height: 2px;
    margin: 20px 0;
  }
}