


/* Centro del contenedor principal */
.creaediUsu-container {
  padding: 20px;
  width: 100%;
  max-width: 515px;
  margin: 15px auto;
  text-align: center;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Century Gothic", sans-serif;
}

.creaediUsu-titulo {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.creaediUsu-line {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

.creaediUsu-formUserEdit {
  gap: 15px;
  text-align: left; /* Alinea texto a la izquierda en inputs */
  margin-bottom: 25px;
}

.creaediUsu-formGroup {
  grid-column: span 2; /* Ajuste para que cada campo ocupe toda la fila */
  margin-bottom: 20px;
}

.creaediUsu-formGroupRoles {
  grid-column: span 2; /* Ajuste para que ocupe toda la fila */
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.creaediUsu-input {
  padding: 10px;
  border: 2px solid #1c3b70 !important;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #1c3b70;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}

.creaediUsu-input::placeholder {
  color: #303031;
  opacity: 0.6;
}

.creaediUsu-select {
  width: 100%;
  padding: 8px;
  border: 2px solid #002B69 !important;
  border-radius: 25px !important;
  align-items: center;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}

.creaediUsu-input:focus,
.creaediUsu-select:focus,
.creaediUsu-check:focus {
  border-color: #ff6600 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

.creaediUsu-check {
  margin-right: 5px; /* Ajuste de margen para checkboxes */
  accent-color: #002b69;
}

.creaediUsu-roles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
}

.creaediUsu-roles label {
  color: #000;
}

.creaediUsu-formButtons {
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}

.creaediUsu-btnGuardar,
.creaediUsu-btnRegresar {
  background-color: #002b69; /* Color celeste */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  width: 40%;
  transition: 0.5s;
}

.creaediUsu-btnGuardar:disabled {
  background-color: #777777;
  cursor: not-allowed;
  transition: 0.5s;
}

.creaediUsu-btnGuardar,
.creaediUsu-btnRegresar:hover {
  background-color: #ff4500;
  transition: 0.5s;
}

.creaediUsu-otros {
  grid-column: span 2;
}

.creaediUsu-genero-estado {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  text-align: left; /* Alinea texto a la izquierda en inputs */
  margin-bottom: 25px;
}

/* Estilos para los errores */
.creaediUsu-error-list {
  padding: 0;
  width: 100%;
}

.creaediUsu-error {
  color: #ff0000;
  font-size: 0.9rem;
  display: none;
}
.creaediUsu-error.active {
  display: block; /* Mostrar solo si está activo */
}

/* Responsividad */
@media (max-width: 768px) {
  .creaediUsu-formUserEdit {
    grid-template-columns: 1fr;
  }

  .creaediUsu-formGroup,
  .creaediUsu-formGroupRoles,
  .creaediUsu-otros {
    grid-column: span 1;
  }

  .creaediUsu-genero-estado {
    grid-template-columns: 1fr;
  }

  .creaediUsu-btnGuardar,
  .creaediUsu-btnRegresar {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .creaediUsu-titulo {
    font-size: 2rem;
  }

  .creaediUsu-container {
    padding: 10px;
  }

  .creaediUsu-line {
    margin-bottom: 15px;
  }
}