
/* cARGA */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff6600;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 24px;
  color: #ff6600;
}

/*Contiene todo */
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 70px;
  gap: 20px;
  color: #002b69;
}
/* agreagr usuario y la carga */
.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;

}

.user-action {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.add-user {
  display: flex;
  align-items: center;
  color: #002b69;
  font-size: 25px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;

}

.icon-add {
  margin-left: 10px;
  font-size: 35px;
}

.user-divider {
  width: 2px;
  height: 65px;
  background: #ff6600;
  margin: auto 0 auto 20px;

 
}

.bulk-upload-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10%; 
}

.title-user {
  color: #002b69;
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Brush-TipTerrence", cursive;
  margin-left: 35%;
}

.bulk-upload {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.upload-option {
  display: flex;
  align-items: center;
  color: #002b69;
  font-size: 16px;
  cursor: pointer;
}

.icon-other {
  margin-right: 10px;
  font-size: 20px;
  color: #ff6600;
}

/*Main*/
main {
  width: 100%;
}

.main-title {
  color: #002b69;
  text-align: center;
  margin-bottom: 20px;
}

/*Filtros*/
.filters-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Añadir esta línea */
}

.filter-group-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.filter-label-user {
  font-size: 20px;
  color: #002b69;
  margin-bottom: 5px;
}

.filter-input-user,
.filter-select-user {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #002b69;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  color: #002b69;
}

.filter-input-user::placeholder,
.filter-select-user::placeholder {
  color: #575656;
}


.filter-input-user:focus,
.filter-select-user:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
/*Tabla */
.table-container {
  width: 80%;
  margin: 0 auto; 
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
  padding: 10px; 
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-thead th {
  background-color: #002B69;
  color: white;
  padding: 10px;
  text-align: center; /* Alinear texto en el centro */
}

.user-tbody td {
  padding: 10px;
  border: 1px solid #ddd; /* Bordes internos de las celdas */
  text-align: center; /* Alinear texto en el centro */
}

.icon-btn-user {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff6600;
  font-size: 1.8em;
  padding: 5px; 
  transition: 0.5s;
}

.icon-btn-user:hover {
  color: #002b69;
  transition: 0.5s;
}

/*Paginacion*/
.pagination-user {
  display: flex; /* Usar flexbox para alinear elementos */
  justify-content: center; /* Centrar elementos horizontalmente */
  align-items: center; /* Centrar elementos verticalmente */
  margin-bottom: 20px;
}

.pagination-user button {
  background-color: #002B69;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1em;
}

.pagination-user span {
  font-size: 1em;
  margin: 0 10px;
  color: #002B69;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .sidebar-user,
  .filters-user,
  .table-container {
    width: 90%;
  }

  .user-action {
    margin-left: 0;
    flex-direction: column;
  }

  .title-user {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .sidebar-user,
  .filters-user,
  .table-container {
    width: 100%;
    margin: 20px auto;
  }

  .add-user {
    font-size: 20px;
  }

  .icon-add {
    font-size: 30px;
  }

  .user-divider {
    height: 50px;
  }

  .upload-option {
    font-size: 16px;
  }

  .icon-other {
    font-size: 18px;
  }

  .filters-user {
    flex-direction: column;
    gap: 15px;
  }

  .filter-input-user,
  .filter-select-user {
    width: 100%;
  }

  .user-table {
    font-size: 14px;
  }

  .icon-btn-user {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .sidebar-user {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .add-user {
    font-size: 25px;
  }

  .icon-add {
    font-size: 24px;
  }

  .user-divider {
    display: block; /* Asegúrate de que la línea sea visible */
    width: 65%;
    height: 2px;
    margin: 20px 0; /* Ajustar el margen para pantallas pequeñas */
  }

  .upload-option {
    font-size: 16px;
  }

  .icon-other {
    font-size: 18px;
  }

  .filters-user {
    flex-direction: column;
    gap: 15px;
  }

  .filter-input-user,
  .filter-select-user {
    width: 100%;
  }

  .user-table {
    display: block;
    width: 100%;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    font-size: 12px;
  }

  .user-thead th,
  .user-tbody td {
    white-space: nowrap; /* Evita que el texto se ajuste a la línea */
  }

  .icon-btn-user {
    font-size: 1.2em;
  }

  .pagination-user {
    flex-direction: column;
    gap: 10px;
  }

  .pagination-user button {
    padding: 8px 15px;
    margin: 5px 0;
  }
}