/* Carga */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f66226;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contiene todo */
.horasi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-family: "Century Gothic", sans-serif;
}

/* Botón de agregar actividades */
.horasi-botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
    margin: 5px auto;
    cursor: pointer;
    border: 2px solid rgba(0, 44, 105, 0.212);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
}

/* Título */
.horasies-titulo {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  margin: 20px 0;
}

/* Línea divisoria */
.horasies-divider {
  width: 2px;
  height: 65px;
  background: #ff6600;
  margin: auto 15px auto 20px;
}

.add-horasi {
  display: flex;
  align-items: center;
  color: #002b69;
  font-size: 25px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
}

.icon-horasi {
  margin-left: 10px;
  font-size: 35px;
  color: #ff6600; /* Color anaranjado para el icono */
}

/* Botón de regresar para académico */
.add-horasiRegresar,
.desRep-botton-horasi {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0;
}

.icon-horasiRegresar {
  margin-left: 10px;
  font-size: 35px;
}

.add-horasiRegresar:hover,
.desRep-botton-horasi:hover {
  background-color: #f66226;
  transition: 0.3s;
}

.button-action-horasi {
  display: flex;
  
  align-items: center;
  width: 100%;
}

.desRep-botton-horasi {
  margin-left: auto;
}

/* Contiene los filtros y la tabla de aprobados y rechazados */
.container-tableapro,
.container-tablerecha {
  width: 95%;
  margin: auto;
  padding: 20px;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.container-tablerecha {
  margin-top: 1%;
}

/* Título y la línea */
.apro-titl {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  width: 100%;
}

.apro-divider {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

/* Filtros de aprobar y rechazar */
.filter-apro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
}

.filter-group-apro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.filter-label-apro {
  font-size: 16px;
  margin-bottom: 5px;
}

.filter-input-apro,
.filter-select-apro {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px !important;
  text-align: center;
  color: #002b69;
  border: 2px solid #002b69 !important;
}

.filter-input-apro:focus,
.filter-select-apro:focus {
  border-color: #ff6600 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

/* Tabla */
.apro-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
  overflow-x: auto; /* Agregado para hacer la tabla scrollable en dispositivos pequeños */
}

.apro-thead th {
  background-color: #002b69;
  color: white;
  padding: 10px;
  text-align: center;
}

.apro-tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Botón del académico */
.icon-btn-acade {
  border: none;
  cursor: pointer;
  color: #ff6600;
  background: none;
  font-size: 1.8em;
  transition: 0.5s;
  padding: 5px;
}

.icon-btn-acade:hover {
  color: #002b69;
  transition: 0.5s;
}

/* Botón como link */
.btn-link {
  background: none;
  border: none;
  color: blue; /* Usualmente el color de los enlaces es azul */
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit; /* Hereda las propiedades de fuente del padre */
}

/* Paginación */
.pagination-apro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pagination-apro button {
  background-color: #002b69;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1em;
}

.pagination-apro span {
  font-size: 1em;
  margin: 0 10px;
  color: #002b69;
}

/* Mensaje */
.no-data-message {
  text-align: center;
  color: #002b69;
  font-size: 20px;
  padding: 3%;
}

/* Main */
.main {
  width: 100%;
}

/* Responsividad */
@media (max-width: 480px) {
  /* Estilos para móviles */
  .horasi-container {
    padding: 10px;
  }

  .horasi-botton {
    padding: 10px;
    font-size: 0.8rem;
    flex-direction: column;
    width: 100%; 
  }

  .horasies-titulo {
    font-size: 1.5rem;
  }

  .horasies-divider {
    width: 45%;
    height: 2px;
    margin: 20px 0;
  }
  .button-action-horasi{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .add-horasi {
    font-size: 1rem;
  }
.container-tableapro,
.container-tablerecha{
  width: 100%;
}
  .icon-horasi {
    font-size: 1.5rem;
  }

  .add-horasiRegresar,
  .desRep-botton-horasi {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-left: 0;
  }

  .icon-horasiRegresar {
    font-size: 1.5rem;
  }

  .apro-titl {
    font-size: 1.5rem;
  }

  .apro-divider {
    width: 50px;
    margin: 10px auto; /* Ajustado el margen */
  }

  .filter-apro {
    flex-direction: column;
  }

  .filter-group-apro {
    margin: 10px 0;
  }

  .pagination-apro button {
    padding: 5px 10px;
  }

  .pagination-apro span {
    font-size: 0.8em;
  }

  .apro-table {
    overflow-x: scroll;
    display: block; /* Hace que la tabla se comporte como un bloque scrollable */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para tablets */
  .horasi-container {
    padding: 15px;
  }

  .horasi-botton {
    padding: 15px;
    font-size: 1rem;
  }

  .horasies-titulo {
    font-size: 2rem;
  }

  .horasies-divider {
    height: 35px;
    margin: auto 15px;
  }

  .add-horasi {
    font-size: 1.2rem;
  }

  .icon-horasi {
    font-size: 2rem;
  }

  .add-horasiRegresar,
  .desRep-botton-horasi {
    padding: 4px 8px;
    font-size: 1rem;
  }

  .icon-horasiRegresar {
    font-size: 2rem;
  }

  .apro-titl {
    font-size: 2rem;
  }

  .apro-divider {
    width: 75px;
    margin: 0 auto 15px auto;
  }

  .filter-apro {
    flex-direction: row;
    justify-content: center;
  }

  .filter-group-apro {
    margin: 10px;
  }

  .pagination-apro button {
    padding: 8px 15px;
  }

  .pagination-apro span {
    font-size: 0.9em;
  }

  .apro-table {
    overflow-x: scroll;
    display: block; /* Hace que la tabla se comporte como un bloque scrollable */
  }
}

@media (min-width: 1025px) {
  /* Estilos para computadoras */
  .horasi-container {
    padding: 20px;
  }

  .horasi-botton {
    padding: 20px;
  }

  .horasies-titulo {
    font-size: 2.5rem;
  }

  .horasies-divider {
    height: 50px;
    margin: auto 20px;
  }

  .add-horasi {
    font-size: 1.5rem;
  }

  .icon-horasi {
    font-size: 2.5rem;
  }

  .add-horasiRegresar,
  .desRep-botton-horasi {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .icon-horasiRegresar {
    font-size: 2.5rem;
  }

  .apro-titl {
    font-size: 2.5rem;
  }

  .apro-divider {
    width: 100px;
    margin: 0 auto 20px auto;
  }

  .filter-apro {
    flex-direction: row;
  }

  .filter-group-apro {
    margin: 10px;
  }

  .pagination-apro button {
    padding: 10px 20px;
  }

  .pagination-apro span {
    font-size: 1em;
  }

  .apro-table {
    overflow-x: auto; /* Agregado para hacer la tabla scrollable en dispositivos pequeños */
  }
}
