/* Cambiar clave */
.cambio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.cambio-form {
    padding: 40px;
    border: 2px solid #012C6A; /* Borde alrededor del formulario */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 0;
}

.title {
    font-family: 'Century Gothic', sans-serif;
    color: #012C6A;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.Title-linea {
    border:2px solid #F66226; /* Divider color */
    width: 50%;
    margin: 0 auto 20px;
}

.input-wrapper {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.input-label {
    font-family: 'Century Gothic', sans-serif;
    color: #012C6A;
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.input-container {
    position: relative;
    width: 100%;
}

.icon-candado {
    position: absolute;
    left: 10px; /* Position the icon to the left of the text field */
    top: 50%;
    transform: translateY(-50%);
    color: #F66226;
    font-size: 24px;
}

.icon2 {
    position: absolute;
    right: 10px; /* Position the icon to the right of the text field */
    top: 50%;
    transform: translateY(-50%);
    color: #F66226;
    font-size: 24px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 55%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-items: center;
    font-family: 'Century Gothic', sans-serif;
}

button.cambiar-button {
    width: 45%;
    padding: 10px;
    background-color: #0DAACE; /* Background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    font-family: 'Century Gothic', sans-serif; /* Button font */
}

button.cambiar-button:hover {
    background-color: #e55620; /* Darker shade for hover effect */
}
