.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

  /* Home para el texto */
  .home-texto{
    color: #012C6A;
    margin-bottom: 10px;
    font-family: Century Gothic, sans-serif;
  }
  h1.home-title {
    font-family: 'Brush-TipTerrence', cursive; /* Title font from the palette */
    color: #012C6A; /* Title color from the palette */
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
  

/* hOME FORM */

.home-content,
.login-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
  
  .login-form {
    background-color: #fff; /* Background color from the palette */
    border-radius: 5px;
  }
  
 
  
  h2.login-title {
    font-family: 'Brush-TipTerrence', sans-serif; /* Title font from the palette */
    color: #002b69; /* Title color from the palette */
    margin-bottom: 10px;
  }
  
  label {
    font-family: 'Century Gothic', sans-serif; /* Default font from the palette */
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    font-family: 'Century Gothic', sans-serif; /* Default font from the palette */
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    font-family: 'Century Gothic', sans-serif; /* Default font from the palette */
    padding: 10px 20px;
    background-color: #F66226; /* Background color from the palette */
    color: #fff; /* Title color from the palette */
    border: none;
    cursor: pointer;
  }
  
  a {
    font-family: 'Century Gothic', sans-serif; /* Default font from the palette */
    text-decoration: none;
    color: #F66226; /* Background color from the palette */
  }
  
  @media (max-width: 768px) {
    .home-container {
       grid-template-columns: 1fr;
     }
   }