

/* */
.container-projcreaed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 80%; /* Utilizamos vw en lugar de % para hacerlo responsivo */
  max-width: 600px; /* Ejemplo de tama침o m치ximo para tablets */
  margin: 2.5% auto; /* Utilizamos vh en lugar de % para el margen superior */

}

.projcreaed-tit {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.diver-projcreaed {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

/* Form de proyectos */
.formgroup-projcreaed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

.imput-projcreaed,
.sele-projcreaed {
  width: 80%; /* Utilizamos vw para hacerlo responsivo */
  padding: 9px;
  border: 2px solid #1c3b70;
  border-radius: 25px;
  margin-bottom: 15px;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}

.imput-projcreaed:focus,
.sele-projcreaed:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.imput-projcreaed::placeholder,
.sele-projcreaed::placeholder,
.option-projcreaed {
  color: #303031;
  opacity: 0.6;
}

/* Botones */
.buttongroup-projcreaed {
  display: flex;
  justify-content: center; /* Centramos los botones */
  margin-top: 20px;
  width: 100%;
}

.button-projcreaed {
  width: 35%;
  padding: 10px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button-projcreaed:hover {
  background-color: #f66226;
  transition: 0.3s;
}
.button-projcreaed:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

/* error */
.error-projcreaed {
  color: red;
  font-size: 0.8em;
}

/* Media queries para tablets */
@media (max-width: 768px) {
  .container-projcreaed {
      width: 90%;
      margin-top: 20vh;
  }

  .button-projcreaed {
      width: 50%;
  }
}

/* Media queries para celulares en orientaci칩n vertical */
@media (max-width: 480px) and (orientation: portrait) {
  .container-projcreaed {
      width: 95%;
      margin-top: 10vh;
  }

  .button-projcreaed {
      width: 70%;
  }

  .imput-projcreaed,
  .sele-projcreaed {
      width: 90%;
  }
}

/* Media queries para celulares en orientaci칩n horizontal */
@media (max-width: 480px) and (orientation: landscape) {
  .container-projcreaed {
      width: 90%;
      margin-top: 5vh;
  }

  .button-projcreaed {
      width: 60%;
  }

  .imput-projcreaed,
  .sele-projcreaed {
      width: 80%;
  }
}






/* Pagina de crear y editar la creacion de grupos */

.creagrup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  width: 45%; /* Ajuste del ancho */
  margin: 13px auto;
  background-color: #fff;
  border: 2px solid rgba(0, 44, 105, 0.212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.creagrup-tit {
  font-family: 'Playfair Display', serif;
  color: #012c6a;
  margin-bottom: 10px;
  font-size: 2rem;
}

.creagrup-diver {
  width: 100px;
  height: 2px;
  background: #ff6600;
  margin: 0 auto 20px auto;
}

.creagrup-formcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creagrup-formrow {
  width: 100%;
  margin-bottom: 10px;
}

.creagrup-inputfield,
.creagrup-select {
  width: 100%;
  padding: 10px;
  border: 2px solid #1c3b70;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
  /* Chrome, Safari, Opera */
  -webkit-text-align: center;
  /* Firefox */
  -moz-text-align: center;
  /* IE */
  -ms-text-align: center;
}

.creagrup-inputfield::placeholder,
.creagrup-select::placeholder {
  color: #303031;
  opacity: 0.6;
}

.creagrup-inputfield:focus,
.creagrup-select:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

.creagrup-errors {
  margin-top: 10px;
  color: #d9534f;
  text-align: left;
}

.creagrup-error-list {
  list-style-type: none;
  padding: 0;
}

.creagrup-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


.creagrup-buttonrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.creagrup-button {
  width: 48%;
  padding: 10px;
  background-color: #002b69;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.creagrup-button:hover {
  background-color: #ff4500;
}

.creagrup-button:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .creagrup-container {
    width: 80%;
    padding: 15px 20px;
  }

  .creagrup-tit {
    font-size: 2rem;
  }

  .creagrup-formrow {
    margin-bottom: 15px;
    flex-direction: column;
  }

  .creagrup-inputfield,
  .creagrup-select {
    width: 100%;
  }

  .creagrup-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .creagrup-buttonrow {
    flex-direction: column;
  }
}