@font-face {
  font-family: 'Brush-TipTerrence';
  src: url('./Assets/fonts/brush-tipTerrence.woff2') format('woff2'),
       url('./Assets/fonts/brush-tipTerrence.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('./Assets/fonts/CenturyGothic.woff2') format('woff2'),
      url('./Assets/fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./Assets/fonts/HelveticaNeue-Light.woff2') format('woff2'),
      url('./Assets/fonts/HelveticaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./Assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('./Assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./Assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('./Assets/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


body, html {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  height: 100%;

}

h1, h2{ /* Títulos */
  font-family: 'Playfair Display', serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo 100% de la altura de la ventana */
  font-family: "Century Gothic", sans-serif;
  background: #f3f3f3;
}

.content {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #002B5C;
  color: #ffffff;
  margin-top: auto; /* Empuja el footer al fondo */
}

.p {
  margin: 0;
}
