body, html {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo 100% de la altura de la ventana */
}

.content {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #002B5C;
  color: #ffffff;
  margin-top: auto; /* Empuja el footer al fondo */
}

.p {
  margin: 0;
}
